:root {
    --theme: #1f3767;
    --black: #141414;
    --my: 3rem;
    --font-pri: pt-serif, serif;
    --font-sec: contralto-big, "Tiempos Headline", serif;
    --font-ter: adelle, "Adelle Sans", sans-serif
}
* {
    margin: 0;
    padding: 0
}
*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
    cursor: default;
    line-height: 1.4;
    word-break: break-word;
    overflow-x: hidden;
    font-family: var(--font-pri);
    font-size: 16px;
}
body,
html {
    height: 100%
}
video {
    max-width: 100%
}
a {
    position: relative;
    text-decoration: none;
    color: inherit
}
a:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: var(--theme);
    transition: .2s ease
}
a:hover:before {
    width: 0
}
a.nodec::before {
    display: none
}
.appear {
    opacity: 0;
    transform: translate(0, 1rem);
    transition: 1s ease-out;
}
.appeared {
    opacity: 1;
    transform: translate(0, 0) !important;
}
p {
    font-family: var(--font-pri);
    color: var(--black);
    margin-block: 1rem;
    line-height: 1.45;
}
h3 {
    font-family: var(--font-ter);
    font-size: 1.15rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
picture img {
    max-width: 100%;
    display: block;
}
figcaption,
figcaption p {
    font-family: var(--font-ter);
    font-size: .85rem;
    line-height: 1.3;
    margin: 0;
}
figcaption {
    margin-top: 10px;
    text-align: center;
}
ul {
    list-style: none;
}

/* Nav */
.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: .8rem
}
.nav__back a {
    color: #fff;
    line-height: 1
}
.nav__back svg {
    width: 38px
}
.nav__back svg > * {
    fill: none;
    stroke: #fff;
    stroke-width: 2px
}
.nav a::before {
    display: none
}
.nav__logo svg {
    width: 28px
}

/* Cols */
.col {
    margin: var(--my) auto;
    padding-inline: 1rem;
    width: var(--col);
    max-width: 100%
}
.col--small {
    width: var(--col-small);
}
.col--large {
    width: var(--col-large);
}
.col--full {
    width: 100%;
}
.col--split {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.col--split > div {
    width: 100%;
}
.col--expand {
    padding-inline: 0;
}
.col--expand figcaption {
    padding-inline: 1rem;
}


/* Header */
article header {
    text-align: center;
    color: white;
    position: relative;
}
.header-media {
    z-index: -1;
    position: sticky;
    height: 100vh;
    width: 100%;
    top: 0;
}
.header-media img, .header-media video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1 {
    font-family: var(--font-sec);
    font-size: calc(5vw + 32px);
    padding: 15vh 3vw 7vh;
    line-height: 1.3;
    font-weight: 700;
    background: linear-gradient(0deg, var(--black), transparent);
}
.leadin p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.35;
}
.meta {
    font: .85rem var(--font-ter);
    margin-block: 3rem;
    text-align: center;
}
.authors {
    margin-bottom: 1.5rem
}
.authors div {
    margin-bottom: .2rem
}

/* Content */
.image-double {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
.image-double figcaption {
    width: 100%;
    padding-inline: 1rem;
}
.quote {
    position: relative;
}
.quote img {
    width: var(--col);
}
.quote-content {
    padding-inline: 2rem;
}
.quote picture + .quote-content {
    margin-top: -2rem;
}
.quote-text.appear {
    transform: translate(-2rem, 0);
}
.quote-text div {
    background: #ebedef;
    padding: 8px 12px;
    font-family: var(--font-sec);
    font-size: 28px;
    display: inline;
    line-height: 1.4;
    font-weight: bold;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.quote-name {
    font-family: var(--font-ter);
    font-weight: normal;
    font-size: .88rem;
    text-align: right;
    margin-top: .5rem;
    opacity: .8;
}
.quote-name.appear {
    transform: translate(2rem, 0);
}
.full-quote {
    position: relative;
}
.full-quote picture {
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.full-quote img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.full-quote .quote-content {
    height: 100vh;
    max-width: var(--col);
    margin: 0 auto;
}
.facts {
    padding-block: 2rem;
    border-block: 1px solid var(--theme);
    font-family: var(--font-ter);
}
.facts-pre-title {
    font-size: .8rem;
    font-family: var(--font-ter);
    text-transform: uppercase;
    font-weight: 100;
    color: grey;
}
.facts h4 {
    margin-block: 0.2rem 1rem;
    text-transform: uppercase;
    color: var(--theme);
}
.facts li, .facts p {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    font-family: var(--font-ter);
    line-height: 1.3;
}
.facts p:last-child {
    color: grey;
}

/* Story */
.story {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 100vh
}
.story__background {
    background: var(--black);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    opacity: 0;
    padding: 3rem 1rem 1rem;
    margin-top: -100vh;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    visibility: hidden;
    -webkit-box-ordinal-group: 0;
    order: -1
}
.story__background[data-story-state=active],
.story__background[data-story-state=next],
.story__background[data-story-state=prev] {
    visibility: visible
}
.story__background[data-story-state=active],
.story__background[data-story-state=prev] {
    opacity: 1
}
.story__background[data-story-state=active],
.story__background[data-story-state=next] {
    will-change: opacity
}
.story__background img,
.story__background video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center
}
.story__background video {
    object-fit: cover
}
.story__trigger {
    z-index: 100;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 45vh 1rem;
    max-width: 600px;
    margin: 0 auto
}
.story__trigger:last-of-type {
    padding-bottom: 100vh
}
.story__trigger[data-story-state=active] {
    opacity: 1
}
.story__trigger > div {
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
}

/* Footer */
footer {
    padding-block: 3rem;
    background: #1d1d1d;
    color: #fff;
    font-size: .9rem;
    font-family: var(--font-ter);
    text-align: center;
}
.footer__logo {
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}
.footer__logo img {
    width: 200px
}
.footer__meta > div {
    margin-bottom: 1rem
}
.footer__meta img {
    display: inline-block;
    width: 50px
}

@media screen and (min-width:480px) {
    html {
        font-size: 18px
    }
}
@media screen and (min-width:680px) {
    footer {
        text-align: initial;
    }
    .col--split > div {
        width: calc(50% - 1rem);
    }
    .col--expand {
        padding-inline: 1rem;
    }
    .col--expand figcaption {
        padding-inline: 0;
    }
    .quote-content {
        padding-inline: 4rem 2rem;
    }
    .quote picture + .quote-content {
        margin-top: 0;
        position: absolute;
        top: 50%;
        max-width: 60%;
        right: 0;
        transform: translateY(-50%);
    }
    .quote-text {
        text-indent: -2rem;
    }
    .quote-text div {
        font-size: 32px;
        line-height: 1.8;
    }
}

/* Fonts */
@font-face {
    font-family: adelle;
    src: url(https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.eot?#iefix) format('embedded-opentype'), url(https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback
}
@font-face {
    font-family: adelle;
    src: url(https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.eot?#iefix) format('embedded-opentype'), url(https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

.route {
	--color: white;
	color: var(--color);
	fill: var(--color);
	stroke: var(--color);
	position: relative;
    margin: 50px 0;
}
.route-content {
    position: sticky;
    top: 0;
    height: 100vh;
}
.route-trigger {
	min-height: 80vh;
    margin-top: 20vh;
}
.route-content img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: 1s;
}
.route-content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.route-header {
	text-align: center;
	padding-top: 5vh;
}
.route-pre-headline {
	font-size: 32px;
	font-weight: 200;
	font-family: "Adelle Sans", adelle;
}
.route-headline h2 {
    font-size: calc(5vw + 38px);
    padding-inline: 5vw;
    line-height: 1.2;
    margin-block: 0rem 1rem;
    font-family: "Contralto Big", contralto-big;
}
.route-map-container {
    position: relative;
}
.route-info {
    font-family: 'Adelle Sans', adelle;
    font-weight: 200;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.route-info > div {
    padding-inline: .5rem;
}
.route-map {
	position: relative;
}
.route-hours, .route-minutes, .route-distance, .route-ferries {
	font-size: 1.8rem;
	line-height: 1;
	font-family: contralto-big, "Contralto Big", tiempos_semibold, "Tiempos Headline";
}
.route-map svg {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
	display: block;
}
.route-map-coastline {
	fill:none;
	stroke: var(--color);
	stroke-width:0.5;
	opacity: .8;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	/* filter: drop-shadow(0px 0px 3px var(--color)); */
}
.route-map-route { 
    fill:none;
	stroke-width: 4px;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10; 
	stroke-dasharray: 980px; 
	stroke-dashoffset: 980px;
	transition: .1s;
    stroke: #e22484;
}
.route-map-annotation circle {
	/* r: 5px; */
	filter: drop-shadow(0px 0px 3px var(--color));
}
.route-map-annotation text {
	font-family: adelle_sansregular,"Adelle Sans";
	font-weight: 200;
	font-size: 24px;
	text-anchor: start;
	stroke: none;
}
.route-header, .route-map-container {
    opacity: 0;
    transition: .2s ease-out;
}
.route.active .route-header, .route.active .route-map-container {
    opacity: 1;
}
.route.active img {
    filter: brightness(.2);
}
.route-point-indicator {
    animation: pulse 1.5s infinite;
    transform: scale(1);
    fill: #e22484;
    stroke-width: 2px;
}
@keyframes pulse {
    0% {
        transform: scale(.95);
    }
    70% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(.95);
    }
}

@media screen and (min-width:680px) {
    .route-info {
        font-size: 1.3rem;
    }
    .route-hours, .route-minutes, .route-distance, .route-ferries {
        font-size: 2.8rem;
    }
}