{% for post in posts %}
<div class="loop__element">
    <a href="{{ post.url }}">
        {% set image = post.feature_image.one() %}
        {% if image|length %}
        <div class="loop__img">
            <img src="{{ image.getUrl({ width: 300, height: 200 }) }}"></img>
        </div>
        {% endif %}
        <div class="loop__text">
            <div>{{ post.title }}</div>
            <div class="loop__excerpt">{{ post.excerpt }}</div>
        </div>
    </a>
</div>
{% endfor %}