{% extends "_layout" %}

{% set posts = craft.entries().section('inspo').all() %}

{% js %}
window.onload = function() {
    let a = Array.apply(null, document.querySelectorAll(".loop__element"));
    a.forEach((el, i) => {
        let d = (i * 0.1);
        el.style.animationDelay = d + "s";
        el.classList.add("in");
    })  
}
{% endjs %}

{% block content %}
<main class="inspo">
    <aside>Filter</aside>
    <div class="loop loop--inspo">
        {% include "_includes/_loop" with { posts: posts } only %}
    </div>
</main>
{% endblock %}