{% extends "_layout" %}

{% set posts = craft.entries().section('snippets').all() %}

{% js %}
window.onload = function() {
    let a = Array.apply(null, document.querySelectorAll(".loop__element"));
    a.forEach((el, i) => {
        let d = (i * 0.1);
        el.style.animation = "scale-in-center 0.5s " + d + "s cubic-bezier(0.250, 0.460, 0.450, 0.940) both";
        el.style.display = "block";
    })  
}
{% endjs %}

{% block content %}
<main class="snippets">
    <div class="snippets-sidebar">Filter</div>
    <div class="loop loop-snippets">
        {% include "kodesnutter/_loop" with { posts: posts } only %}
    </div>
</main>
{% endblock %}